python-dotenv==1.0.1
datasets==2.18.0
GitPython==3.1.43
h5py==3.10.0
huggingface_hub==0.23.2
joblib==1.2.0
keras==3.2.1
numpy==1.23.5
pandas==2.2.2
requests==2.31.0
tensorflow==2.16.1
#tensorflow_macos==2.14.0
torch==2.2.2
#torch_xla==2.2.0
tqdm==4.65.0
transformers==4.39.3
onnx==1.16.0
langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.1
langchain-text-splitters==0.2.0
sentence-transformers==2.7.0
madml==2.6.6
hf-transfer==0.1.6
fickling==0.1.3
python-call-graph==2.1.2
#langchain==0.2.5
#langchain-community==0.2.5
python-dotenv==1.0.1

